@keyframes pulse {
  0% {
    color: #FF4500;
  }
  10% {
    color: #FFF8DC;
  }
  20% {
    color: #FF4500;
  }
  30% {
    color: #FFF8DC;
  }
  40% {
    color: #FF4500;
  }
  50% {
    color: #FFF8DC;
  }
  60% {
    color: #FF4500;
  }
  70% {
    color: #FFF8DC;
  }
  80% {
    color: #FF4500;
  }
  90% {
    color: #FFF8DC;
  }
  100% {
    color: #FF4500;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  background-color: #2F4F4F;
  font-family: 'PT Sans', sans-serif;
}
html {
  font-size: 62.5%;
}
h1,
h2 {
  font-family: 'Comfortaa', cursive;
}
h3,
h4 {
  font-family: 'Roboto', sans-serif;
}
.navSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/navBarImgLarge.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  padding: 1%;
}
@media (max-width: 800px) {
  .navSection {
    background-image: url("../img/navBarImg.jpg");
  }
}
.navSection h1 {
  font-size: 7rem;
  color: #DCDCDC;
  padding: 1%;
  background-color: transparent;
}
@media (max-width: 800px) {
  .navSection h1 {
    font-size: 4rem;
  }
}
.navSection .navBar {
  display: flex;
  justify-items: space-around;
  background-color: transparent;
  width: 75%;
}
.navSection .navBar nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent;
}
.navSection .navBar nav a {
  text-decoration: none;
  color: #FFF8DC;
  font-size: 3rem;
  background-color: transparent;
  margin: 1%;
}
@media (max-width: 800px) {
  .navSection .navBar nav a {
    font-size: 1rem;
  }
}
@media (max-width: 500px) {
  .navSection .navBar nav a {
    font-size: 1rem;
  }
}
.navSection .navBar nav a:hover {
  animation-name: pulse;
  animation-duration: 5s;
}
.mktHeader {
  background-image: url("../img/indexImgMain.jpg");
  padding: 1%;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: darkslategray;
  height: 666px;
}
@media (max-width: 800px) {
  .mktHeader {
    display: none;
  }
}
.mktHeader .mktHeaderButton {
  height: 75px;
  width: 300px;
  font-size: 3rem;
  background-color: orangered;
  color: gainsboro;
  border-radius: 30px;
  position: relative;
  right: 150px;
  top: 350px;
  cursor: alias ;
}
.mktHeader .mktHeaderButton:hover {
  animation-name: pulse;
  animation-duration: 5s;
}
header {
  display: flex;
  justify-content: center;
  background-color: #DCDCDC;
}
header h2 {
  color: #2F4F4F;
  font-size: 5rem;
  margin: 1%;
  background-color: #DCDCDC;
}
@media (max-width: 800px) {
  header h2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  header h2 {
    font-size: 2rem;
  }
}
.centerImageSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
@media (min-width: 800px) {
  .centerImageSection .centerImagePortrait {
    display: none;
  }
}
@media (max-width: 800px) {
  .centerImageSection {
    height: 50%;
    align-items: center;
  }
  .centerImageSection .centerImageLarge {
    display: none;
  }
  .centerImageSection .centerImageLarge .centerImagePortrait {
    display: block;
    padding-top: 2%;
  }
}
.centerButton {
  height: 75px;
  width: 300px;
  font-size: 3rem;
  background-color: orangered;
  color: gainsboro;
  border-radius: 30px;
  cursor: alias ;
  margin: 3%;
}
.centerButton:hover {
  animation-name: pulse;
  animation-duration: 5s;
}
@media (max-width: 800px) {
  .centerButton {
    width: 250px;
  }
}
.getStarted,
.aboutUs {
  position: relative;
  left: 450px;
}
@media (max-width: 800px) {
  .getStarted,
  .aboutUs {
    display: none;
  }
}
.testimonials {
  justify-content: space-between;
  margin: 3%;
}
.testimonials .testH3 {
  font-size: 4.5rem;
  margin-bottom: 1%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 500px;
  color: cornSilk;
}
.testimonials .testP {
  font-size: 3rem;
  font-style: italic;
  text-align: center;
  width: 600px;
  line-height: 5rem;
  color: cornsilk;
}
@media (max-width: 800px) {
  .testimonials .testP {
    width: 500px;
  }
}
@media (max-width: 500px) {
  .testimonials .testP {
    width: 400px;
    position: relative;
    left: 45px;
  }
}
.testimonials .testDF1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
  align-items: center;
}
@media (max-width: 800px) {
  .testimonials .testDF1 {
    flex-direction: column;
  }
}
.testimonials .testDF2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 800px) {
  .testimonials .testDF2 {
    flex-direction: column;
  }
}
.testimonials .testhappy {
  width: 500px;
  height: 400px;
  border-radius: 50px;
}
@media (max-width: 500px) {
  .testimonials .testhappy {
    width: 400px;
  }
}
.testimonials .fa-quote-right,
.testimonials .fa-quote-left {
  font-size: 5rem;
}
.testimonials .testBtn {
  height: 75px;
  width: 300px;
  font-size: 3rem;
  background-color: orangered;
  color: gainsboro;
  border-radius: 30px;
  cursor: alias ;
  margin: 3%;
  position: relative;
  left: 300px;
}
.testimonials .testBtn:hover {
  animation-name: pulse;
  animation-duration: 5s;
}
@media (max-width: 800px) {
  .testimonials .testBtn {
    left: 90px;
  }
}
.groups .projectLead {
  display: flex;
  align-items: center;
  justify-content: center;
}
.groups .projectLead .proLead {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1%;
  align-items: center;
  justify-content: center;
}
.groups .everyone {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 800px) {
  .groups .everyone {
    flex-direction: column;
  }
}
.groups .everyone .backendDeveloper {
  display: flex;
  justify-content: center;
}
.groups .everyone .backendDeveloper .bEndDev {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1%;
}
.groups .everyone .frontendDeveloper {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .groups .everyone .frontendDeveloper {
    flex-direction: column;
  }
}
.groups .everyone .frontendDeveloper .srReact,
.groups .everyone .frontendDeveloper .jrReact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1%;
}
.groups .everyone .userInterface {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .groups .everyone .userInterface {
    flex-direction: column;
  }
}
.groups .everyone .userInterface .ui1,
.groups .everyone .userInterface .ui2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1%;
}
.groups h3 {
  color: #DCDCDC;
  font-size: 2.66rem;
  width: 100%;
  margin: 1%;
}
@media (max-width: 800px) {
  .groups h3 {
    font-size: 2rem;
  }
}
.groups h4 {
  color: #FF4500;
  font-size: 2.5rem;
  width: 100%;
  margin: 1%;
}
@media (max-width: 800px) {
  .groups h4 {
    font-size: 1.5rem;
  }
}
.groups a {
  text-decoration: none;
}
.groups a:hover {
  animation-name: pulse;
  animation-duration: 5s;
}
.test {
  border-radius: 50px;
  height: 200px;
  width: 200px;
  transition: transform 0.2s;
}
@media (max-width: 800px) {
  .test {
    transition: none;
  }
}
.test:hover {
  transform: scale(1.5);
}
@media (max-width: 800px) {
  .test:hover {
    transform: none;
  }
}
i {
  color: #FF4500;
  font-size: 2rem;
  margin-right: 1%;
}
footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 2rem;
  margin-top: 2%;
}
@media (max-width: 800px) {
  footer {
    font-size: 1rem;
  }
}
footer a {
  margin-left: 2%;
}
@media (max-width: 800px) {
  footer a {
    font-size: 1rem;
  }
}
