/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  border: 1px solid red;
}
html {
  font-size: 62.5%;
}
.navSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #DCDCDC;
  padding: 1%;
}
.navSection h1 {
  font-size: 5rem;
  color: #2F4F4F;
  padding: 1%;
}
.navSection .navBar {
  display: flex;
  justify-items: space-around;
  width: 75%;
}
.navSection .navBar nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navSection .navBar nav a {
  text-decoration: none;
  color: #FF4500;
  font-size: 2rem;
  margin: 1%;
}
header {
  display: flex;
  justify-content: center;
}
header h2 {
  color: #2F4F4F;
  font-size: 3.5rem;
  margin: 1%;
}
.groups .projectLead {
  display: flex;
  justify-content: center;
}
.groups .projectLead .proLead {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1%;
}
.groups .backendDeveloper {
  display: flex;
  justify-content: center;
}
.groups .backendDeveloper .bEndDev {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1%;
}
.groups .frontendDeveloper {
  display: flex;
  justify-content: center;
}
.groups .frontendDeveloper .srReact,
.groups .frontendDeveloper .jrReact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1%;
}
.groups .userInterface {
  display: flex;
  justify-content: center;
}
.groups .userInterface .ui1,
.groups .userInterface .ui2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1%;
}
.groups .groups h3 {
  color: #2F4F4F;
  font-size: 2rem;
  margin: 1%;
}
.groups .groups h4 {
  color: #696969;
  font-size: 1.66rem;
  margin: 1%;
}
