header{
    .displayFlexJustifyCenter();
    background-color: @gainsboro;

     h2{
        color: @darkSlateGray;
        font-size: 3.5rem;
        margin:1%;
        background-color: @gainsboro;
     }//header h2 end
}// header end
