.groups {
    .projectLead{
        .displayFlexJustifyCenter();

        .proLead{
            .centeringAndAligning();
            margin:1%;
        }// groups projectLead proLead end
    }// groups projectLead end

    .backendDeveloper{
        .displayFlexJustifyCenter();

        .bEndDev{
            .centeringAndAligning();
            margin:1%;
        }// groups backendDeveloper bEndDev end
    }// groups backendDeveloper end
    
    .frontendDeveloper{
        .displayFlexJustifyCenter();

        .srReact, .jrReact{
            .centeringAndAligning();
            margin:1%;
        }// groups srReact jrReact 
    }// groups frontendDeveloper end

    .userInterface {
        .displayFlexJustifyCenter();

        .ui1, .ui2{
            .centeringAndAligning();
            margin:1%;
        }// groups userInterface ui1 ui2 end
    }// groups userInterface end

    .groups h3 {
        .teamInfoH3();
        margin:1%;
    }// groups h3 end

    .groups h4 {
        .teamInfoH4();
        margin:1%;
    }// groups h4 end
}// groups end