.groups {
    
    .projectLead{
        .displayFlexJustifyCenter();
        align-items: center;
            justify-content: center;
        
        .proLead{
            .centeringAndAligning();
            text-align:center;
            margin:1%;
            align-items: center;
            justify-content: center;
        }// groups projectLead proLead end
    }// groups projectLead end

    .everyone{
        display:flex;
        justify-content:space-around;

        @media @tablet{
            flex-direction:column;
        }
        // align-items: flex-start;

        .backendDeveloper{
            .displayFlexJustifyCenter();
        

            .bEndDev{
                .centeringAndAligning();
                align-items: center;
                justify-content: center;
                text-align:center;
                margin:1%;
            }// groups everone backendDeveloper bEndDev end
        }// groups everyone backendDeveloper end
    
        .frontendDeveloper{
            .displayFlexJustifyCenter();
                @media @phone{
                    flex-direction:column;
                }
            .srReact, .jrReact{
                .centeringAndAligning();
                text-align:center;
                margin:1%;
            }// groups everyone frontendDeveloper srReact jrReact 
        }// groups everyone frontendDeveloper end

        .userInterface {
            .displayFlexJustifyCenter();

                @media @phone{
                    flex-direction:column;
                }

            .ui1, .ui2{
                .centeringAndAligning();
                text-align:center;
                margin:1%;
            }// groups everyone userInterface ui1 ui2 end
        }// groups everyone userInterface end
    }// groups everyone end
        
    h3 {
        .teamInfoH3();
        margin:1%;
        @media @tablet{
            font-size:2rem;
        }
    }// groups h3 end

    h4 {
        .teamInfoH4();
        margin:1%;

        @media @tablet{
            font-size:1.5rem;
        }
    }// groups h4 end

    a{
        text-decoration: none;
        &:hover{
            .linkHoverAnimation();
        }
    }// groups a end
}// groups end

// img {
//     height:200px;
//     width:200px;
//     border-radius:75;
//     transition: transform .2s;

//     &:hover{
//         transform: scale(2);
//     }// hover end
// }// img end

.test {
    border-radius:50px;
    height:200px;
    width:200px;
     transition: transform .2s;

     @media @tablet{
         transition:none;

     }

     &:hover{
        transform: scale(1.5);

        @media @tablet{
            transform: none;
        }
                 }
}

i{
    color:@orangeRed;
font-size:2rem;
margin-right:1%;
}// i end