footer{
    display:flex;
    justify-content:center;
    align-items:flex-end;
    font-size:2rem;
    margin-top:2%;

    @media @tablet{
        font-size:1rem;
    }
    a{
        margin-left:2%;

        @media @tablet{
            font-size: 1rem;
            
        }
    }// end of footer a
    

}// end of footer