* {
    box-sizing: border-box;
    border: 1px solid red;
    background-color:@darkSlateGray;
    font-family: 'PT Sans', sans-serif;
}// * end
  
html {
    font-size: 62.5%; 
}// html end

h1, h2{
    font-family:'Comfortaa', cursive;
}// h1, h2 end

h3, h4{
    font-family: 'Roboto', sans-serif;
}// h3, h4 end