.linkFontStyling(){
    text-decoration:none;
    color: @cornSilk;
    font-size: 3rem;
}// linkfonststyling end

.teamInfoH3(){
    color:@gainsboro;
    font-size: 2rem;
    width:100%;
}// teaminfoh3 end

.teamInfoH4(){
    color: @navlinkfontcolor;
    font-size: 1.75rem;
    width:100%;
}// teaminfoh4 end

.linkHoverAnimation(){
    animation-name: pulse;
    animation-duration: 5s;
}// linkhoveranimaion end

.displayFlexJustifyCenter(){
    display:flex;
    justify-content:center;
}// displayflexjusitycenter end

.centeringAndAligning(){
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}// centeringandaligning end