.linkFontStyling(){
    text-decoration:none;
    color: @navlinkfontcolor;
    font-size: 2rem;
}

.teamInfoH3(){
    color:@darkSlateGray;
    font-size: 2rem;
}

.teamInfoH4(){
    color: @dimGray;
    font-size: 1.66rem;
}

.displayFlexJustifyCenter(){
    display:flex;
    justify-content:center;
}

.centeringAndAligning(){
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}