.mktHeader{
    background-image: url("../img/indexImgMain.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-color:darkslategray;
    background-size:cover;
    height:666px;

    @media @tablet{
        display:none;
    }// mktheader media tablet end

    .mktHeaderButton{
        height:75px;
        width: 300px;
        font-size:3rem;
        background-color:orangered;
        color: gainsboro;
        border-radius:30px;
        position: relative;
        right: 150px;
        top: 350px;
        cursor: alias;

        &:hover{
            .linkHoverAnimation();
        }// mktheaderbutton hover end
    }// mktHeaderImg end
}// mktheader end