.pictureCenteringDiv{
    display:flex;
    justify-content:center;
}// picturecenteringdiv end

.centerImageSection{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center ;
    width:85%;

    @media(min-width:800px){
        .centerImagePortrait{
            display:none;
        }//centerImagePortait media minwidth end
    }// media minwidth 800px end
    @media @tablet{
        height: 50%;
        align-items: center;

        .centerImageLarge{
            display: none;
        .centerImagePortrait{
            display:block;
            padding-top:2%;
        }// centerImagePortrait media tablet end
        }// centerImageLarge media tablet end
    }// centerImageSection media Tablet end
}// centerImageSection end

.centerButtondiv{
    display:flex;
    justify-content:center;
    width: 100vw;
}// centerbuttondiv end

.centerButton {
    height:75px;
    width: 300px;
    font-size:3rem;
    background-color:orangered;
    color: gainsboro;
    border-radius:30px;
    cursor: alias ;
    margin:3%; 

    &:hover{
        .linkHoverAnimation();
    }// centerbutton hover end
   @media @tablet{
       width: 250px;
   }// centerbutton media tablet end
}// centerbutton end

.getStarted, .aboutUs{
    // position: relative;
    // left: 450px;

    @media @tablet{
        display:none;
    }// getstarted about us media tablet end
}// getstarted aboutus end

.testimonials{
    justify-content:space-between;
    margin:3%;

    .testH3{
        // border:1px solid red;
        font-size:4.5rem;
        margin-bottom:1%;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        width:500px;
        color: cornSilk;
    }// end of testimonials testH3

    .testP{
        font-size: 3rem;
        font-style:italic;
        text-align: center;
        width:600px;
        line-height: 5rem;
        color: cornsilk;

        @media @tablet{
            width:500px;
        }// testP media tablet end

        @media @phone{
            width:400px;
            position:relative;
            left:45px;
        }// testp media phone end
    }// end of testimonials testP

    .testDF1{
        display:flex;
        justify-content:space-around;
        margin-bottom: 2%;
        align-items: center;

        @media @tablet{
            flex-direction:column;
        }// testdf1 media tablet end
    }// end of testimonials test df1

    .testDF2{
        display: flex;
        flex-direction:row-reverse;
        justify-content:space-around;
        align-items: center;

        @media @tablet{
            flex-direction: column;
        }// testdf2 media tablet end
    }// testdf2 end

    .testhappy{
        width: 500px;
        height: 400px;
        border-radius:50px;

        @media @phone{
            width:400px;
        }// testhappy media phone end
    }//end of testimonials testhappy

    .fa-quote-right, .fa-quote-left{
        font-size: 5rem;
    }// quotes left and right end

    .testBtn {
        height:75px;
        width: 300px;
        font-size:3rem;
        background-color:orangered;
        color: gainsboro;
        border-radius:30px;
        cursor: alias ;
        margin:3%; 
        position:relative;
        left:300px;
    
        &:hover{
            .linkHoverAnimation();
        }// testbtn hover end
        @media @tablet{
            left:90px;
        }// testbtn media tablet end
    }// testbtn end    
}// end of testimonials

