.navSection{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-image: url("../img/navBarImgLarge.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    padding:1%;



    h1{ 
        font-size:7rem;
        color: @gainsboro;
        padding: 1%;
        background-color:transparent;

    }//navSection h1 end

    .navBar{
        display:flex;
        justify-items: space-around;
        background-color:transparent;
        width:75%;
      

        nav{
            width:100%;
            display:flex;
            justify-content:center;
            background-color:transparent;
           


            a{
            .linkFontStyling();
            background-color: transparent;
             margin: 1%;

            &:hover{
                .linkHoverAnimation();
            }//navSection navBar nav a hover end
            }// navSection navBar nav a end
        }// nav end
    }// navSection navBar end
}// navSection end

