.navSection{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:@navbgcolor;

    h1{
        font-size:5rem;
        color: @navh1fontcolor;

    }//navSection h1 end

    .navBar{
        display:flex;
        justify-items: space-around;

        a{
            .linkFontStyling();
        }// navSection navBar nav a end
    }// navSection navBar end
}// navSection end

