.navSection{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-image: url("../img/navBarImg.jpg");
    background-repeat: no-repeat;
    // background-color:red;
    padding:1%;

    h1{ 
        font-size:7rem;
        color: @navh1fontcolor;
        padding: 1%;
        background-color:transparent;

    }//navSection h1 end

    .navBar{
        display:flex;
        justify-items: space-around;
        width:75%;
        background-color:transparent;

        nav{
            width:100%;
            display:flex;
            justify-content:center;
            background-color:transparent;;


            a{
            .linkFontStyling();
            background-color:transparent;
            margin: 1%;
            }// navSection navBar nav a end
        }// nav end
    }// navSection navBar end
}// navSection end

