//colors
@bgcolor: @dimGray;
@navbgcolor: @gainsboro;
@navlinkfontcolor: @orangeRed;
@navh1fontcolor: @darkSlateGray;



//color values

@dimGray: #696969;
@darkSlateGray: #2F4F4F;
@darkOrange: #FF8C00;
@orangeRed: #FF4500;
@cornSilk: #FFF8DC;
@gainsboro: #DCDCDC;

@tablet: ~"(max-width: 800px)";
@phone: ~"(max-width: 500px)";

//animation var
@keyframes pulse {
    0%   {color: @orangeRed;}
    10%  {color: @cornSilk;}
    20%  {color: @orangeRed;}
    30% {color: @cornSilk;}
    40%  {color: @orangeRed;}
    50% {color: @cornSilk;}
    60%  {color: @orangeRed;}
    70% {color: @cornSilk;}
    80% {color: @orangeRed;}
    90% {color: @cornSilk;}
    100% {color: @orangeRed;}
}